/* Reset */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: Helvetica Ultracondensed;
    src: url('fonts/HelveticaUltraCompressed.otf');
    font-weight: normal;
    font-style: normal;
}

html {
    font-family: Helvetica Ultracondensed;
    background: black;
    scroll-behavior: smooth;
}

/* End Reset */



/* Utility Classes*/

.offscreen {
    position:absolute;
    left:-100000vw;
}


.twocolumns > .nowrap{
    width:100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.albumrow{
    width: 100%;
    min-height: 250px;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 2vw;
}

.threecolumns > .nowrap{
    width:clamp(300px, 43vw, 75%);
    min-width: 33%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    white-space: nowrap;
}

/* End Utility Classes*/



/* Variables */

:root{
    /* Colors */
    --TEXT-COLOR: rgb(187, 187, 187);
    --TEXT-HOVER-COLOR: rgba(168, 168, 168, 0.822);
    --CONTAINER-COLOR:  rgba(14, 14, 14, 0.904);

    /* Shadow */
    --TEXT-SHADOW: 0rem 0rem 0.055em rgb(0, 0, 0);
    --S-TEXT-SHADOW: 0rem 0rem 0.125em rgb(0, 0, 0);
    --BANNER-SHADOW: 0rem .5rem 1vw rgb(0, 0, 0);
    --PHOTO-SHADOW: 0rem 0vw .5vw rgb(0, 0, 0);
}



/* Utility Containers */

.linkbanner{
    position: sticky;
    top: 0;
    left: 0;
    background-color: black;
    width: 100%;
    box-shadow: var(--BANNER-SHADOW);
    z-index: 1;
}

.container {
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 88vw;
    margin-top: 5vw;
    margin-bottom: 5vw;
    margin-left: auto;
    margin-right: auto;
    border:.5vw solid rgb(8, 8, 8);
    border-radius: 1vw;
    background-color: var(--CONTAINER-COLOR);
    padding-bottom: 3vw;
}

/* End Utility Containers */



/* Flexboxes */

.banner{
    display: flex;
    flex-direction: row;
    position: sticky;
    top: 0;
    background-color: rgba(0, 0, 0);
    background-image: url("media/I\ touched\ the\ moss\ single\ cover.jpg");
    background-size: cover;
    width: 100%;
}

.lower{
    font-size: clamp(20px, 4vw, 80px);
    color: var(--TEXT-COLOR);
    display: flex;
    text-shadow: var(--S-TEXT-SHADOW);
    gap: 5vw;
    margin-left: .2rem;
}

.bannerlinks{
    display: flex;
    white-space: nowrap;
    gap: 5vw;
    font-size: clamp(25px, 3vw, 100px);
    margin-left: 1vw; 
}

.twocolumns{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.threecolumns{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
    flex-wrap: wrap;
}

.merchtable{
    margin-top: 3vw;
    display: flex;
    flex-direction: row;
    align-content: space-between;
    justify-content: space-around;
    flex-wrap: wrap;
}

/* End Flexboxes*/



/* Flexbox Elements */

.merchitem{
    box-shadow: var(--S-TEXT-SHADOW);
    display: flex;
    flex-direction: column;
    width: clamp(275px, 30vw, 400px);
    justify-content: flex-start;
    background-color: rgba(41, 41, 41, 0.233);
    margin-bottom: 3vw;
}

#benthic11{
    object-fit: cover;
    position: fixed;
    z-index: -1;
    width: 100%;
    min-height: 100%;
    left: 0;
    top: 0;
    overflow: hidden;
    display: block;
}

.albumcover {
    aspect-ratio: 1/1;
    height: auto;
}

.explainer{
    margin-left: 3vw;
    margin-right: 3vw;
    margin-bottom: 3vw;
    font-size:clamp(25px,4vw,150px);
    color: var(--TEXT-COLOR);
    text-shadow: var(--S-TEXT-SHADOW);
}

.videoembed {
    width:80%;
    aspect-ratio: 16/9;
    height: auto;
    margin-top: 2vw;
    margin-bottom: 4vw;
    filter: drop-shadow(var(--PHOTO-SHADOW));
}

.statementcontainer{
    display: flex;
    flex-direction: column;
}

.logo{
    position: absolute;
    top: 1vw;
    right: 1vw;
    width:clamp(30px,5vw,80px);
    z-index: 1000;
}

/* End Flexbox Elements */



/* Element Elements */

.santacruz {
    margin-left: 1vw;
    margin-bottom: 0vw;
    margin-top: -10%;
    font-size: clamp(27px, 3.5vw, 150px);
    color: var(--TEXT-COLOR);
    text-shadow: var(--S-TEXT-SHADOW);
}

.merchitem button{
    font-family: Helvetica Ultracondensed;
    font-size:clamp(35px,3vw,150px);
    padding: .5vw;
    border: 0;
    stroke-width: 5vw;
    stroke: black;
    color:black;
    box-shadow: var(--S-TEXT-SHADOW);
    background-color:var(--TEXT-COLOR);
    margin-bottom: 4vw;
}

.merchitem button:hover{
    background-color:var(--TEXT-HOVER-COLOR);
}

.merchphoto {
    width:80%;
    margin-top: 2vw;
    margin-bottom: 2.5vw;
}

.statementcontainer .statement{
    font-size:clamp(25px,4vw,150px);
    color: var(--TEXT-COLOR);
    text-shadow: var(--S-TEXT-SHADOW);

}

.twocolumns .nowrap .albumtitle .distinction{
    white-space: nowrap;
}

.albumtitle{
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 3vw;
    font-size: clamp(35px, 7.5vw, 150px);
    color: var(--TEXT-COLOR);
    text-shadow: var(--TEXT-SHADOW);
}

.albumrow .projiframe{
    width: clamp(275px, 35vw, 80vw);
    height: clamp(50px, 41vw, 950px);
    filter: drop-shadow(var(--PHOTO-SHADOW));
    margin-top: 3vw;
}

.albumrow .albumcover {
    width: clamp(225px, 41vw, 80vw);
    box-shadow: var(--PHOTO-SHADOW);
}

.nowrap > div{
    width: 100%;
}

.merchtext{
    display: flex;
    justify-content: center;
    white-space: wrap;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 2vw;
    font-size:clamp(25px,2.5vw,150px);
    color: var(--TEXT-COLOR);
    text-shadow: var(--S-TEXT-SHADOW);
}

.statement{
    padding-left: 3vw;
    padding-right: 3vw;
    font-size:clamp(17px,3vw,150px);
    color: var(--TEXT-COLOR);
}

.banner h1 {
    display: inline-block;
    margin-left: 1vw;
    font-size: clamp(50px, 15vw, 150px);
    color: var(--TEXT-COLOR);
    text-shadow: var(--TEXT-SHADOW);
}

.container h2 {
    font-size: clamp(40px, 15vw, 200px);
    color: var(--TEXT-COLOR);
    text-shadow: var(--TEXT-SHADOW);
}

/* End Element Elements */



/* Fundamental Changes */

a:hover img{
    opacity: .75;
    background-color: rgba(0, 0, 0, 0.363);
}

h3 {
    font-size: clamp(25px, 10vw, 200px);
    color: var(--TEXT-COLOR);
}

p {
    font-size: clamp(25px, 5vw, 75px);
    color: var(--TEXT-COLOR);
}

a{
    color:var(--TEXT-COLOR);

}

a:hover {
    color:var(--TEXT-HOVER-COLOR);
}

hr {
    border:none;
    height: .5vw;
    background-color: rgba(0, 0, 0, 0.747);
}

footer {
    background-image: url("media/I\ touched\ the\ moss\ single\ cover.jpg");
    width: 100%;
    background-size: cover;
    padding: 2vw;

}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

main{
    flex-grow: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: flex-start;
}

/* End Fundamental Changes */



/*Responsive Layout*/



/*End Responsive Layout*/



/* Grid Boxes */




/* End Grid Boxes */



/* Grid Items */



/* End Grid Items*/