/* Reset */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: Helvetica Ultracondensed;
    font-style: normal;
    font-weight: normal;
    src: url('fonts/HelveticaUltraCompressed.otf');
}

html {
    background: black;
    font-family: Helvetica Ultracondensed;
    scroll-behavior: smooth;
}

/* End Reset */



/* Utility Classes*/

#top{
}

#backtotop{
    margin: 0 ;
    padding: 0;
    width: clamp(90px,15vw,500px);
    margin-bottom: 5vw;
    border: .1vw solid var(--TEXT-COLOR);
}


.offscreen {
    left:-100000vw;
    position:absolute;
}


.twocolumns > .nowrap{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width:100%;
}

.albumrow{
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 2vw;
    min-height: 250px;
    width: 100%;
}

.threecolumns > .nowrap{
    align-items: center;
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    min-width: 33%;
    white-space: nowrap;
    width:clamp(300px, 43vw, 75%);
}

/* End Utility Classes*/



/* Variables */

:root{
    /* Colors */
    --CONTAINER-COLOR:  rgba(14, 14, 14, 0.904);
    --TEXT-COLOR: rgb(187, 187, 187);
    --TEXT-HOVER-COLOR: rgba(168, 168, 168, 0.822);

    /* Shadow */
    --BANNER-SHADOW: 0rem .5rem 1vw rgb(0, 0, 0);
    --PHOTO-SHADOW: 0rem 0vw .5vw rgb(0, 0, 0);
    --S-TEXT-SHADOW: 0rem 0rem 0.125em rgb(0, 0, 0);
    --TEXT-SHADOW: 0rem 0rem 0.055em rgb(0, 0, 0);
}



/* Utility Containers */

.linkbanner{
    background-color: black;
    box-shadow: var(--BANNER-SHADOW);
    left: 0;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1;
}

.container {
    background-color: var(--CONTAINER-COLOR);
    border-radius: 1vw;
    border:.5vw solid rgb(8, 8, 8);
    display: flex;
    flex-direction: column;
    margin-bottom: 5vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5vw;
    padding-bottom: 3vw;
    text-align: center;
    width: 88vw;
}

/* End Utility Containers */



/* Flexboxes */

.banner{
    display: flex;
    flex-direction: row;
    position: sticky;
    top: 0;
    background-color: rgba(0, 0, 0);
    background-image: url("media/I\ touched\ the\ moss\ single\ cover.jpg");
    background-size: cover;
    width: 100%;
}

.lower{
    color: var(--TEXT-COLOR);
    display: flex;
    font-size: clamp(20px, 4vw, 80px);
    gap: 5vw;
    margin-left: .2rem;
    text-shadow: var(--S-TEXT-SHADOW);
}

.bannerlinks{
    display: flex;
    font-size: clamp(25px, 3vw, 100px);
    gap: 5vw;
    margin-left: 1vw; 
    white-space: nowrap;
}

.twocolumns{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.threecolumns{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
    flex-wrap: wrap;
}

.merchtable{
    align-content: space-between;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 3vw;
}

/* End Flexboxes*/



/* Flexbox Elements */

.merchitem{
    background-color: rgba(41, 41, 41, 0.233);
    box-shadow: var(--S-TEXT-SHADOW);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-bottom: 3vw;
    width: clamp(275px, 30vw, 400px);
}

#backtotop:hover{
    opacity: 75%;
}

#backtotop a:hover{
    color: var(--TEXT-COLOR);
}

#backtotop a:any-link .statement{
    color: var(--TEXT-COLOR);
    text-decoration: none;
}

#backtotop .statement{
    font-size: clamp(20px, 3vw, 250px);
    text-shadow: var(--S-TEXT-SHADOW);
    margin-bottom: .5vw;
    text-decoration: none;
}

#benthic11{
    display: block;
    left: 0;
    min-height: 100%;
    object-fit: cover;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: -1;
}

.albumcover {
    aspect-ratio: 1/1;
    height: auto;
}

.explainer{
    color: var(--TEXT-COLOR);
    font-size:clamp(25px,4vw,150px);
    margin-bottom: 3vw;
    margin-left: 3vw;
    margin-right: 3vw;
    text-shadow: var(--S-TEXT-SHADOW);
}

.videoembed {
    aspect-ratio: 16/9;
    filter: drop-shadow(var(--PHOTO-SHADOW));
    height: auto;
    margin-bottom: 4vw;
    margin-top: 2vw;
    width:80%;
}

.statementcontainer{
    display: flex;
    flex-direction: column;
}

.logo{
    position: absolute;
    right: 1vw;
    top: 1vw;
    width:clamp(30px,5vw,80px);
    z-index: 1000;
}

/* End Flexbox Elements */



/* Element Elements */

.santacruz {
    color: var(--TEXT-COLOR);
    font-size: clamp(27px, 3.5vw, 150px);
    margin-bottom: 0vw;
    margin-left: 1vw;
    margin-top: -10%;
    text-shadow: var(--S-TEXT-SHADOW);
}

.merchitem button{
    background-color:var(--TEXT-COLOR);
    border: 0;
    box-shadow: var(--S-TEXT-SHADOW);
    color:black;
    font-family: Helvetica Ultracondensed;
    font-size:clamp(35px,3vw,150px);
    margin-bottom: 4vw;
    padding: .5vw;
    stroke-width: 5vw;
    stroke: black;
}

.merchitem button:hover{
    background-color:var(--TEXT-HOVER-COLOR);
}

.merchphoto {
    margin-bottom: 2.5vw;
    margin-top: 2vw;
    width:80%;
}

.statementcontainer .statement{
    color: var(--TEXT-COLOR);
    font-size:clamp(25px,4vw,150px);
    text-shadow: var(--S-TEXT-SHADOW);
}

.twocolumns .nowrap .albumtitle .distinction{
    white-space: nowrap;
}

.albumtitle{
    color: var(--TEXT-COLOR);
    font-size: clamp(35px, 7.5vw, 150px);
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 3vw;
    text-shadow: var(--TEXT-SHADOW);
}

.albumrow .projiframe{
    filter: drop-shadow(var(--PHOTO-SHADOW));
    height: clamp(50px, 41vw, 950px);
    width: clamp(225px, 35vw, 80vw);
}

.albumrow .albumcover {
    box-shadow: var(--PHOTO-SHADOW);
    width: clamp(200px, 36vw, 80vw);
}

.nowrap > div{
    width: 100%;
}

.merchtext{
    color: var(--TEXT-COLOR);
    display: flex;
    font-size:clamp(25px,2.5vw,150px);
    justify-content: center;
    margin-bottom: 2vw;
    margin-left: 10%;
    margin-right: 10%;
    text-shadow: var(--S-TEXT-SHADOW);
    white-space: wrap;
}

.statement{
    color: var(--TEXT-COLOR);
    font-size:clamp(17px,3vw,150px);
    padding-left: 3vw;
    padding-right: 3vw;
}

.banner h1 {
    color: var(--TEXT-COLOR);
    display: inline-block;
    font-size: clamp(50px, 15vw, 150px);
    margin-left: 1vw;
    text-shadow: var(--TEXT-SHADOW);
}

.container h2 {
    color: var(--TEXT-COLOR);
    font-size: clamp(40px, 15vw, 200px);
    text-shadow: var(--TEXT-SHADOW);
}

/* End Element Elements */



/* Fundamental Changes */

a:hover img{
    background-color: rgba(0, 0, 0, 0.363);
    opacity: .75;
}

h3 {
    color: var(--TEXT-COLOR);
    font-size: clamp(25px, 10vw, 200px);
}

p {
    color: var(--TEXT-COLOR);
    font-size: clamp(25px, 5vw, 75px);
}

a{
    color:var(--TEXT-COLOR);

}

a:hover {
    color:var(--TEXT-HOVER-COLOR);
}

hr {
    background-color: rgba(0, 0, 0, 0.747);
    border:none;
    height: .5vw;
}

footer {
    background-image: url("media/I\ touched\ the\ moss\ single\ cover.jpg");
    background-size: cover;
    padding: 2vw;
    width: 100%;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}

main{
    align-content: flex-start;
    display: flex;
    flex-grow: 1;
    flex-wrap: wrap;
    justify-content: space-around;
}

/* End Fundamental Changes */



/*Responsive Layout*/



/*End Responsive Layout*/



/* Grid Boxes */



/* End Grid Boxes */



/* Grid Items */



/* End Grid Items*/