/* Reset */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: Helvetica Ultracondensed;
    font-style: normal;
    font-weight: normal;
    src: url('fonts/HelveticaUltraCompressed.otf');
}

html {
    background: black;
    font-family: Helvetica Ultracondensed;
    scroll-behavior: smooth;
}

/* End Reset */



/* Utility Classes*/

#top{
    content:"";
}

.offscreen {
    left:-100000vw;
    position:absolute;
}


.twocolumns > .nowrap{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width:100%;
}

.albumrow{
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 2vw;
    min-height: 250px;
    width: 100%;
}

.videotable > .wrap{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5vw;
    align-items: center;
    width:100%;
    height: clamp(350px,35vw,500px);
    background-color: azure;
    flex-wrap: wrap;
    background-image: url("media/I\ touched\ the\ moss\ single\ cover.jpg");    
}

/* End Utility Classes*/



/* Variables */

:root{
    /* Colors */
    --CONTAINER-COLOR:  rgba(14, 14, 14, 0.904);
    --TEXT-COLOR: rgb(255, 255, 255);
    --TEXT-HOVER-COLOR: rgba(168, 168, 168, 0.822);

    /* Shadow */
    --BANNER-SHADOW: 0rem .5rem 1vw rgb(0, 0, 0);
    --PHOTO-SHADOW: 0rem 0vw .5vw rgb(0, 0, 0);
    --S-TEXT-SHADOW: 0rem 0rem 0.125em rgb(0, 0, 0);
    --TEXT-SHADOW: 0rem 0rem 0.055em rgb(0, 0, 0);

    /* Size */
    --VIDEO-WIDTH: 150px 10% 1000px
}



/* Utility Containers */

.nullpadding{
    height: 1rem;
    width: 100%;
    background-color: black;
}


.topbanner{
    display: flex;
    flex-direction: column;
    background-color: black;
    left: 0;
    position: sticky;
    top: 0; 
    width: 100%;
    z-index: 1;
}

.container {
    background-color: var(--CONTAINER-COLOR);
    border-radius: 1vw;
    border:.5vw solid rgb(8, 8, 8);
    display: flex;
    flex-direction: column;
    margin-bottom: 5vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5vw;
    padding-bottom: 3vw;
    text-align: center;
    width: 88vw;
}



.bttcontainer {
    background-color: var(--CONTAINER-COLOR);
    border-radius: 1vw;
    border:.25vw solid var(--TEXT-COLOR);
    display: flex;
    flex-direction: column;
    margin-bottom: 5vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5vw;
    padding: 1vw;
    text-align: center;
}

/* .bttcontainer { //THIS BROKE IT, I OWE THIS TO LACK OF MARGINS//
    background-color: var(--CONTAINER-COLOR);
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    width: clamp(90px,15vw,500px);
    border: .1vw solid var(--TEXT-COLOR);

} */

.videopage {
    background-color: var(--CONTAINER-COLOR);
    display: flex;
    flex-direction: column;
    padding-bottom: 3vw;
    text-align: center;
    width: 100%;
    justify-content: center;
}

/* End Utility Containers */



/* Flexboxes */

.banner{
    display: flex;
    flex-direction: column;
    background-color: black;
    box-shadow: var(--BANNER-SHADOW);
    left: 0;
    position: sticky;
    top: 0; 
    width: 100%;
    z-index: 1;
}

.footerbox{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-between;
    box-shadow: var(--BANNER-SHADOW);
}

.lower{
    display: flex;
    flex-direction: row;
    align-items: center;
    color: var(--TEXT-COLOR);
    font-size: clamp(20px, 3.5vw, 80px);
    gap: 3vw;
    text-shadow: var(--S-TEXT-SHADOW);
    margin-left: 1vw;
}

.logocontainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: .5vw;
}

.menubuttoncontainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    width: 30%;
}

.menubutton{
    background-color: transparent;
    width:48px;
    height:48px;
    border: none;  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 3vw;
}

.menuicon,
.menuicon::before,
.menuicon::after{
    background-color: var(--TEXT-COLOR);
    width:40px;
    height: 5px;
    border-radius: 2px;
    position: absolute;
    transition: all 0.5s;
}

.menuicon::before{
    content:"";
    transform: translate(-20px, -12px);
}

.menuicon::after{
    content:"";
    transform: translate(-20px, 12px);
}

.bannerlinks{
    margin-left: .6vw;
    padding-left: .6vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: var(--TEXT-COLOR);
    font-size: clamp(20px, 3vw, 80px);
    gap: 2vw;
    text-shadow: var(--S-TEXT-SHADOW);
    margin-bottom: .5vw;
    background-color: black;

}

.twocolumns{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.videotable{
    display:flex;
    flex-direction: column;
    justify-content: center;
    margin:0;
    padding:0;
    background-image: url("media/I\ touched\ the\ moss\ single\ cover.jpg");
    
}

.merchtable{
    align-content: space-between;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 3vw;
}

/* End Flexboxes*/



/* Flexbox Elements */

.bannername{
    width:clamp(200px, 25vw, 750px);
    margin-left: 1vw;
    margin-top: 1vw;
}

.merchitem{
    background-color: rgba(41, 41, 41, 0.233);
    box-shadow: var(--S-TEXT-SHADOW);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-bottom: 3vw;
    width: clamp(275px, 30vw, 400px);
}

#backtotop:hover{
    opacity: 75%;
}

#backtotop a:hover{
    color: var(--TEXT-COLOR);
}

#backtotop a:any-link .statement{
    color: var(--TEXT-COLOR);
    text-decoration: none;
}

#backtotop .statement{
    font-size: clamp(20px, 3vw, 250px);
    text-shadow: var(--S-TEXT-SHADOW);
    text-decoration: none;
    text-align: center;
    margin: 0;
    padding: 0;
}

.cover{
    position: fixed;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -1000;
}

.cover video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1000;
}

.albumcover {
    aspect-ratio: 1/1;
    height: auto;
}

.explainer{
    color: var(--TEXT-COLOR);
    font-size:clamp(25px,4vw,150px);
    margin-bottom: 3vw;
    margin-left: 3vw;
    margin-right: 3vw;
    text-shadow: var(--S-TEXT-SHADOW);
}

.statementcontainer{
    display: flex;
    flex-direction: column;
}

.logo{
    width:clamp(20px, 3vw, 100px);
    aspect-ratio: 1 / 1;
    z-index: 1000;
}

/* End Flexbox Elements */



/* Element Elements */

.santacruz {
    color: var(--TEXT-COLOR);
    font-size: clamp(27px, 3.5vw, 150px);
    margin-bottom: 0vw;
    margin-left: 1vw;
    margin-top: -10%;
    text-shadow: var(--S-TEXT-SHADOW);
}

.merchitem button{
    background-color:var(--TEXT-COLOR);
    border: 0;
    box-shadow: var(--S-TEXT-SHADOW);
    color:black;
    font-family: Helvetica Ultracondensed;
    font-size:clamp(35px,3vw,150px);
    margin-bottom: 4vw;
    padding: .5vw;
    stroke-width: 5vw;
    stroke: black;
}

.merchitem button:hover{
    background-color:var(--TEXT-HOVER-COLOR);
}

.merchphoto {
    margin-bottom: 2.5vw;
    margin-top: 2vw;
    width:80%;
}

.statementcontainer .statement{
    color: var(--TEXT-COLOR);
    font-size:clamp(25px,4vw,150px);
    text-shadow: var(--S-TEXT-SHADOW);
}

.twocolumns .nowrap .albumtitle .distinction{
    white-space: nowrap;
}

.albumtitle{
    color: var(--TEXT-COLOR);
    font-size: clamp(35px, 7.5vw, 150px);
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 3vw;
    text-shadow: var(--TEXT-SHADOW);
}

.videotitle{
    color: var(--TEXT-COLOR);
    font-size: clamp(50px, 5vw, 150px);
    text-shadow: var(--TEXT-SHADOW);
    text-align: left;
    margin: 0;
}

.videoexplainer .explainer{
    color: var(--TEXT-COLOR);
    font-size: clamp(35px, 2.5vw, 150px);
    text-shadow: var(--TEXT-SHADOW);
    width: 100%;
    text-align:left;
    margin: 0;
    max-width: 40ch;
}

.videoexplainer .videocolumn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    height: clamp(450px, 35vw, 950px);
    padding-inline: clamp(1rem, 3vw, 3rem);
}

.videoembed {
    height:clamp(150px, 20vw, 1000px);
    aspect-ratio: 16 / 9;
    width:auto;
    box-shadow: var(--PHOTO-SHADOW);
}

.albumrow .projiframe{
    filter: drop-shadow(var(--PHOTO-SHADOW));
    height: clamp(50px, 41vw, 950px);
    width: clamp(225px, 35vw, 80vw);
}

.albumrow .albumcover {
    box-shadow: var(--PHOTO-SHADOW);
    width: clamp(200px, 36vw, 80vw);
}

.nowrap > div{
    width: 100%;
}

.merchtext{
    color: var(--TEXT-COLOR);
    display: flex;
    font-size:clamp(25px,2.5vw,150px);
    justify-content: center;
    margin-bottom: 2vw;
    margin-left: 10%;
    margin-right: 10%;
    text-shadow: var(--S-TEXT-SHADOW);
    white-space: wrap;
}

.statement{
    color: var(--TEXT-COLOR);
    font-size:clamp(17px,3vw,150px);
    padding-left: 3vw;
    padding-right: 3vw;
}

.container h2 {
    color: var(--TEXT-COLOR);
    font-size: clamp(40px, 15vw, 200px);
    text-shadow: var(--TEXT-SHADOW);
}

footer{
    width:100%;
    background-color: black;
}

/* End Element Elements */



/* Fundamental Changes */

li{
    list-style-type: none;
    text-wrap: nowrap;
}

a:hover img{
    background-color: rgba(0, 0, 0, 0.363);
    opacity: .75;
}

h3 {
    color: var(--TEXT-COLOR);
    font-size: clamp(25px, 10vw, 200px);
}

p {
    color: var(--TEXT-COLOR);
    font-size: clamp(25px, 5vw, 75px);
}

a{
    color:var(--TEXT-COLOR);

}

a:hover {
    color:var(--TEXT-HOVER-COLOR);
}

hr {
    background-color: rgba(0, 0, 0, 0.747);
    border:none;
    height: .5vw;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}

.mainlike{
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    justify-content: center;
}

/* End Fundamental Changes */



/*Responsive Layout*/

@media screen and (max-width:769px){

    .bannernav .bannerlinks{
        list-style-type: none;
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-between;
    }

    .bannerlinks li{
        padding: 0.5rem;
    }

    .bannerlinks a{
        display: block;
        text-align: center;
        width: 80%;
        margin: auto;
        font-size: min(35px, 25vw);
    }
    
    .topbanner{
        flex-direction: row;
        justify-content: space-between;
        align-content: center;
        flex-wrap: nowrap;
    }

    .bannername{
        width:70%; 
        margin-left: 0;
        margin-top: 0;
    }

    .footerbox{
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-content: center;
        justify-content: space-between;
    }

    .lower{
        flex-direction: column;
        gap: 0;
        margin:0;
        padding:0;
        width:50%;
    }

    .lower li{
        width:100%;
        text-align: center;
        border-top: .1vw solid var(--TEXT-COLOR);
        border-right: .1vw solid var(--TEXT-COLOR);
        padding: 1vw;
    }

    .lower li a:hover{
        color:var(--TEXT-HOVER-COLOR);
    }

    .logo{
        width:clamp(100px,10vw,50px);
        aspect-ratio: 1 / 1;
        z-index: 1000;
    }

    .logocontainer{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin:0;
        padding:0;
        width:50%;
        border-top: .1vw solid var(--TEXT-COLOR);
    }

    .bannerlinks a:hover, a:focus{
        width: 100%;
        transform: scale(1);
        transition: all 0.3s;
    }

    :is(header:hover, header:focus-within) .menuicon{
        background-color: transparent;
        transform: rotate(720deg);
    }

    :is(header:hover, header:focus-within) .menuicon::before{
        transform: translateX(-20px) rotate(225deg);
    }

    :is(header:hover, header:focus-within) .menuicon::after{
        transform: translateX(-20px) rotate(-225deg);
    }

    :is(header:hover, header:focus-within) .bannernav{
        display:block;
    }

    :is(header:hover, header:focus-within) .bannerlinks{
        height: 100%;
    }
    
    .bannernav{
        display: none;
        transform-origin: top center;
        animation: showMenu .5s ease-in-out forwards;
    }

}

@media screen and (min-width:770px){
    .menubuttoncontainer{
        display: none;
    }
}

/*End Responsive Layout*/



/*  Animations  */

@keyframes showMenu {
    0% {
        transform: scaleY(0);
    }
    100% {
        transform: scaleY(1);
    }
}